* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
}

body {
  font-family: "Rasa", serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  letter-spacing: 2px;
}
p {
  color: #575757 !important;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.7;
}
.my-container {
  width: 70%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
.button {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 8px 15px;
  border-bottom: 5px solid #575757;
}

/* Header Section */

.intro-section {
  height: 100vh;
  width: 100%;
}
.nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: #575757;
  color: white;
  z-index: 3;
}
.nav-bar ul {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 7px;
  list-style: none;
}
.nav-bar li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 19px;
  margin: 0px 15px;
  padding: 5px 15px;
  letter-spacing: 2px;
}

.introduction {
  background-image: url("../images/back.jpg");
  background-position: top;
  background-repeat: none;
  background-size: cover;
  height: 100%;
}
.introduction h1 {
  color: white;
}
.introduction p {
  color: #a8a8a8 !important;
}
.introduction > * {
  margin: 15px 0px;
  width: 60% !important;
}

/* About Section */

.about-me {
  width: 100%;
  padding: 100px 0px;
  border-bottom: 1px solid #2b2b2b;
  background-color: #2b2b2b !important;
}

.my-image {
  width: 150px;
  overflow: hidden;
}
.my-image img {
  width: 100%;
  border-radius: 20%;
  transition: all 0.5s ease-in-out;
}
.my-image img:hover {
  transform: scale(2);
}

.about {
  margin: 0px 0px 40px 0px;
  padding: 10px;
}
.about > * {
  margin: 30px 0px;
}
.contact-details {
  margin: 40px 0px;
  padding: 10px;
}
.contact-details > * {
  margin: 30px 0px;
}

.about h1,
.contact-details h1 {
  color: white !important;
}
.about p,
.contact-details p {
  color: #999999 !important;
}

/* Education and Work section */

.education-section .row,
.work-section .row,
.skill-section .row {
  border-bottom: 1px solid #2b2b2b;
  padding: 100px 0px;
}

/* Testimonial Section */

.testimonial-section {
  padding: 100px 0px;
  background: url("../images/fixed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.testimonial-section h3 {
  color: white !important;
  line-height: 1.7;
  letter-spacing: 2px;
}
#demo {
  color: white !important;
}

#demo ul {
  margin-bottom: -10px;
}

/* Footer Secion */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  height: 100px;
}
.footer p {
  color: #c2c2c2 !important;
}
